.movies-card-list {
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 59px;
    grid-column-gap: 30px;
}

.movies-card-list__btn {
    margin: 80px auto 0;
    padding: 10px 145px;
    width: 320px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: transparent;
    border: 1px solid #424242;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    transition: linear 200ms;
}

.movies-card-list__btn:hover, .movies-card-list__btn:active, .movies-card-list__btn:focus {
    opacity: .8;
    outline: none;
}

.movies-card-list__btn_hidden {
    display: none;
}

.movies-card-list__span {
    text-align: center;
    margin: 80px auto 0;
}

.movies-card-list__span_hidden {
    display: none;
}

@media screen and (max-width: 850px) {
    .movies-card-list {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 47px;
    }

    .movies-card-list__btn {
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 625px) {

    .movies-card-list {
        margin: 40px auto 0;
        grid-template-columns: 1fr;
        grid-row-gap: 47px;
    }

    .movies-card-list__btn {
        margin: 50px auto 0;
        width: 240px;
    }

}
