.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(90% + 19px * 2);
    min-height: 74px;
    box-sizing: border-box;
}

.header__logo {
    margin-right: 44px;
    transition: linear 200ms;
}

.header__logo:focus, .header__logo:hover {
    opacity: 50%;
}
