.register {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    width: 396px;
}

.register__head {
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__form_label {
    margin: 10px 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__form_input {
    margin: 10px 0 10px;
    padding: 15px;
    background: #2F2F2F;
    border-radius: 8px;
    border: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    transition: linear 200ms;
}

.register__form_input:hover, .register__form_input:focus, .register__form_input:active {
    outline: none;
    background: rgb(66, 66, 66);
}

.error {
    color: #EE3465;
}

.register__form_span {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.register_btn {
    margin: 70px 0 16px;
    height: 45px;
    width: 100%;
    background: #4285F4;
    border-radius: 3px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    transition: linear 200ms;
}
.register_btn:hover, .register_btn:focus, .register_btn:active {
    opacity: .8;
    outline: none;
}

.register__in {
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}
.register__in p {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    color: #8B8B8B;
}
.register__in a {
    margin: 0 0 0 6px;
    text-decoration: none;
    color: #4285F4;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    transition: linear 300ms;
}
.register__in a:hover, .register__in a:focus, .register__in a:active {
    opacity: .5;
    outline: none;
}

@media screen and (max-width: 425px) {
    .register {
        margin: 56px auto;
        width: 90%;
    }
    .register__logo {
        margin-right: 0;
        align-self: center;
    }
    .register__head {
        text-align: center;
    }
    .register__in {
        font-size: 12px;
        line-height: 15px;
    }
}
