.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 21px 0 0;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.22;
    color: var(--white-color);
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__link {
    padding: 8px 16px;
    color: var(--white-color);
    text-decoration: none;
    transition: opacity .3s;
    display: flex;
    align-items: center;

    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.nav__link:hover, .nav__link:focus, .nav__link:active {
    opacity: .6;
}

.nav__link_green {
    background: var(--green-color);
    border-radius: 3px;
    --white-color: black;
}

.nav__link_icon {
    margin-left: 13px;
    padding: 9px;
    background-color: #313131;
    border-radius: 6px;
}

.nav__link_active {
    font-weight: 500;
}
